:root {
  --highlighted-color: #3ca4ff;
  /* --searchbar-bg: #1e1d27; */
  --searchbar-bg: #27272d;
}

#greeting,
#timezone {
  color: var(--highlighted-color);
}

.top {
  font-size: 75px;
  display: flex;
  align-items: center;

  /* top right bottom left */
  padding: 20px 0 0 40px;
  margin: 0;
}

span.top {
  margin-bottom: 20px;
}

.dateTime {
  display: flex;
  align-items: center;
}

.dateTime h3 {
  font-size: 27px;
  padding-left: 40px;
  margin-top: -30px;
}

.dateTime h4 {
  font-size: 18px;
  margin-top: -50px;
  padding-left: 110px;
  color: #525252;
}

.searchbar {
  padding-left: 40px;
}

.searchbar input {
  width: 450px;
  height: 67px;
  border-radius: 100000px;
  font-size: 24px;
  padding-left: 30px;
  background-color: var(--searchbar-bg);
  border: none;
  color: white;
}

.searchbar input::placeholder {
  color: #4d4d4d;
  font-weight: bold;
}

.searchbar input:focus {
  outline: none;
}

/* the following is code to stylize the search bar when autocomplete is on, but for now i decided to keep it off */
/**/
/* .searchbar input:autofill, */
/* .searchbar input:autofill:hover, */
/* .searchbar input:autofill:focus { */
/*   outline: none !important; */
/*   border: none !important; */
/**/
/*   -webkit-text-fill-color: white !important; */
/*   box-shadow: 0 0 0 1000px var(--searchbar-bg) inset !important; */
/*   background-color: var(--searchbar-bg) !important; */
/* } */
/**/
/* .searchbar input:autofill::placeholder { */
/*   -webkit-text-fill-color: #4d4d4d; */
/* } */

.shortcuts {
  display: flex;
  /* justify-content: center; */
  justify-content: flex-start;
  margin-left: 40px;
  margin-top: 60px;
  gap: 30px;
}

.shortcuts span {
  display: flex;
  justify-content: center;
  margin-top: 9px;
  gap: 10px;
}

.shortcuts button {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background-color: var(--searchbar-bg);
  color: white;
  font-size: 18px;
  border: none;

  transition:
    width 0.3s ease-in-out 0.1s,
    height 0.3s ease-in-out 0.1s,
    background-color 0.3s ease-in-out 0.1s;
}

.shortcuts button:hover {
  width: 170px;
  height: 170px;
  background-color: #27272d;
}

.shortcuts button img {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 25%;
}
