:root {
  --highlighted-color: #3ca4ff;
}

#greeting,
#timezone {
  color: var(--highlighted-color);
}

.top {
  font-size: 75px;
  display: flex;
  align-items: center;
  /* gap: 10px; */
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 0;
  padding-right: 0;

  margin: 0;
}

#clock {
  margin-bottom: 20px;
}

#timezoneText {
  font-size: 27px;
  padding-left: 40px;
  margin-top: -30px;
}

.timeCard {
  display: flex;
  align-items: center;
}

#date {
  font-size: 18px;
  margin-top: -50px;
  padding-left: 110px;
  color: #525252;
}

.searchbar {
  padding-left: 40px;
}

#searchbarInput {
  width: 450px;
  height: 67px;
  border-radius: 100000px;
  font-size: 24px;
  padding-left: 30px;
  background-color: #1e1d27;
  border: none;
  color: white;
}

#searchbarInput::placeholder {
  color: #4d4d4d;
}
